<div class="posts">
    <div class="head-post">
        {% include "./post.html" with post=post %}
    </div>

    <div class="comments" id="{{ post.post_id }}">

        {% for comment in post.get_child_posts %}
        <div class="child-post">
            {% include "./post.html" with post=comment %}

            {% if comment.get_child_posts %}
            <div class="comments" id="{{ comment.post_id }}">
            <div class="post-border-left">

                {% for child_comment in comment.get_child_posts %}
                <div class="child-post">
                    {% include "./post.html" with post=child_comment %}

                </div>
                {% endfor %}
            </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

