<div class="posts">
    {% include "./post.html" with post=post %}
    {% for comment in post.children.all %}

    <div class="child-post">
        {% include "./post.html" with post=comment %}

        {% if comment.children.all %}
        <div class="post-border-left">

            {% for child_comment in comment.children.all %}
            <div class="child-post">
                {% include "./post.html" with post=child_comment %}
                
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

